body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  
  h1 {
    padding: 8px;
    color: rgb(225, 225, 225);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: "Roboto Slab", serif;
  }
  
  p {
    line-height: 1.5;
  }
  
  main {
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  /* Banner */
  
  #banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url("digi.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: #edeeee;
    
  }
  
  #banner h2 {
    
    border-radius: 8px;
    padding: 10 40px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
  }
  
  /* Navigation */
  
  nav {
    height: 72px;
    background: #202125;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
  }
  
  nav a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
  }
  
  nav a:hover {
    text-decoration: none;
    color: red;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  .active {
    color: #f783ae;
  }
  
  #logo-img {
    display: flex;
    height: 70%;
    background: #111;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
  }
  
  #logo-img img {
    height: 100px;
  }
  
  #logo-img:hover {
    background: black;
  }
   /* Slideout Menu */
  
   #slideout-menu {
    display: none;
    background: #2d3436;
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity:0;
    pointer-events:none;
  }
  
  #slideout-menu ul {
    list-style: none;
    padding: 0 32px;
  }
  
  #slideout-menu ul li {
    padding: 8px;
  }
  
  #slideout-menu a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: white;
  }
  
  #slideout-menu input {
    width: 85%;
    padding: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  /* Sections */
  
  section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .section-heading {
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
  }
  
  .section-heading:hover {
    padding: 4px 48px;
    background: red;
  }
  
  /* Section Source */
  
  #section-source p {
    padding: 8px;
    text-align: center;
  }
  
  #section-source a {
    margin: 8px;
    text-align: center;
  }
  
  
  
  /* Button Read more */
  
  .btn-readmore {
    padding: 8px 24px;
    border: 3px solid black;
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: white;
  }
  
  .btn-readmore:hover {
    background: red;
    text-decoration: none;
    padding: 8px 64px 8px 24px;
    color: white;
  }
  
  /* Footer */
  
  footer {
    background: black;
    padding: 10px;
    color: #eee;
    display: flex;
    width: 80%;
  }
  
  footer a {
    color: white;
  }
  
  footer #left-footer {
    flex: 100;
    border-right: 1px solid red;
    padding-left: 45px;
  }
  
  footer #left-footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
  }
  
  footer #right-footer {
    flex: 2;
    padding: 30px;
    text-align: center;
  }

  

  
  @media (max-width: 719px) {
    main {
      width: 95%;
    }
  
    section {
      flex-direction: column;
    }

    footer {
      flex-direction: column;
      text-align: center;
    }
  
    footer #left-footer {
      flex: 2;
      border-right: 10;
      padding-left: 10;
    }
  
    footer #right-footer {
      background: rgb(211, 205, 205);
      color: black;
    }
  
    footer #right-footer a {
      color: black;
    }

  }
  
  @media (max-width: 600px) {
    main {
      width: 100%;
    }
  
    h1 {
      font-size: 48px;
    }
  
    #banner h3 {
      font-size: 20px;
    }
    #logo-img {
      padding: 0;
    }
  }
  
  
  
  